.coinCard {
  display: grid;
  width: 30%;
  grid-template-areas: 'h' 'm' 'f';
  grid-template-rows: auto auto auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
  border-radius: 7px;
  transition: transform .3s ease-in-out;
  z-index: 10; }
  @media (pointer: fine) {
    .coinCard:hover {
      box-shadow: 0 0 60px #27847B;
      transform: scale(1.05);
      transition: transform .3s ease-in-out; } }
  .coinCard .coinCard_header {
    width: 100%;
    grid-area: h;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.51);
    height: 100px; }
    .coinCard .coinCard_header .wrapper {
      display: grid;
      grid-template-areas: 'name logo';
      grid-template-columns: 2fr 1fr;
      justify-items: center;
      align-items: center;
      height: 100%; }
      .coinCard .coinCard_header .wrapper span {
        grid-area: name;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0 10px; }
        @media screen and (max-width: 1500px) {
          .coinCard .coinCard_header .wrapper span {
            margin: 0 10px; } }
        @media screen and (max-width: 1280px) {
          .coinCard .coinCard_header .wrapper span {
            margin: 0 10px;
            font-size: 16px; } }
      .coinCard .coinCard_header .wrapper .logo {
        grid-area: logo;
        background-color: #ffffff;
        border-radius: 50%;
        width: 60px; }
        @media screen and (max-width: 1px) {
          .coinCard .coinCard_header .wrapper .logo {
            width: 60px;
            margin: 0 auto; } }
        @media screen and (max-width: 350px) {
          .coinCard .coinCard_header .wrapper .logo {
            width: 50px;
            margin: 0 auto; } }
        @media screen and (max-width: 800px) {
          .coinCard .coinCard_header .wrapper .logo {
            width: 40px;
            margin: 0 auto; } }
        @media screen and (max-width: 1280px) {
          .coinCard .coinCard_header .wrapper .logo {
            width: 40px;
            margin: 0 auto; } }
        @media screen and (max-width: 1600px) {
          .coinCard .coinCard_header .wrapper .logo {
            width: 50px;
            margin: 0 auto; } }
      .coinCard .coinCard_header .wrapper:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.36); }
        .coinCard .coinCard_header .wrapper:hover:hover {
          box-shadow: none; }
    @media screen and (max-width: 1280px) {
      .coinCard .coinCard_header {
        height: 70px; } }
  .coinCard .coinCard_main {
    width: 100%;
    grid-area: m; }
    @media screen and (max-width: 1200px) {
      .coinCard .coinCard_main {
        text-align: center;
        display: block; } }
    @media screen and (max-width: 1280px) {
      .coinCard .coinCard_main {
        font-size: 12px; } }
    @media screen and (max-width: 1350px) {
      .coinCard .coinCard_main {
        font-size: 14px; } }
    .coinCard .coinCard_main div {
      margin: 10px;
      color: #4b4b4b;
      font-weight: 400; }
      .coinCard .coinCard_main div .text {
        font-size: 16px;
        color: #479790;
        font-weight: bold; }
        @media screen and (max-width: 1200px) {
          .coinCard .coinCard_main div .text {
            text-align: center;
            display: block; } }
        @media screen and (max-width: 1280px) {
          .coinCard .coinCard_main div .text {
            font-size: 12px; } }
        @media screen and (max-width: 1350px) {
          .coinCard .coinCard_main div .text {
            font-size: 14px; } }
  .coinCard .coinCard_footer {
    width: 100%;
    grid-area: f;
    border-top: 0.2px solid rgba(0, 0, 0, 0.51); }
    .coinCard .coinCard_footer a {
      text-decoration: none; }
    .coinCard .coinCard_footer .start_btn {
      background-color: #27847B;
      margin: 20px auto;
      width: 175px;
      text-align: center;
      color: white;
      padding: 10px;
      border-radius: 8px;
      text-transform: uppercase;
      text-decoration: none; }
      .coinCard .coinCard_footer .start_btn:hover {
        transition: 0.2s ease-in-out;
        background-color: #25786f;
        cursor: pointer;
        color: #f7a81a; }
      @media (max-width: 1280px) {
        .coinCard .coinCard_footer .start_btn {
          font-size: 13px;
          margin: 10px auto;
          width: 110px;
          height: 20px; } }
      @media (max-width: 1550px) {
        .coinCard .coinCard_footer .start_btn {
          font-size: 13px;
          margin: 10px auto;
          width: 130px;
          height: 20px; } }
  @media screen and (min-width: 0px) {
    .coinCard {
      opacity: 0; } }
  @media screen and (min-width: 250px) {
    .coinCard {
      width: 80%;
      opacity: 1;
      display: grid; } }
  @media screen and (min-width: 450px) {
    .coinCard {
      width: 60%;
      opacity: 1;
      display: grid; } }
  @media screen and (min-width: 600px) {
    .coinCard {
      width: 50%;
      opacity: 1;
      display: grid; } }
  @media screen and (min-width: 700px) {
    .coinCard {
      width: 40%;
      opacity: 1;
      display: grid; } }
  @media screen and (min-width: 820px) {
    .coinCard {
      width: 25%;
      opacity: 1;
      display: grid; } }
  @media screen and (min-width: 1000px) {
    .coinCard {
      width: 20%;
      opacity: 1;
      display: grid; } }
  @media screen and (min-width: 1280px) {
    .coinCard {
      width: 15%;
      opacity: 1;
      display: grid; } }

/*# sourceMappingURL=Coincard.module.css.map */
