@mixin mediaWidth {
  width: 100%;
  background-color: #fff;
}


.coinCard {
  display: grid;
  grid-template-areas: 'h' 'm' 'f';
  grid-template-rows: auto auto auto;
  transition: transform 1.5s ease-in-out;
  z-index: 10;

  &:hover{
    
    @media (pointer: fine){
      transform: translateZ(+100px) translateY(+10px) translateX(2px);
      transition: transform .3s ease-in-out;

    }

  }

  .coinCard_header {
    @include mediaWidth;
    border-radius: 10px 10px 0 0;
    grid-area: h;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.51);
    padding: 5px 0 5px 0;
    .wrapper {
      display: grid;
      grid-template-areas: 'name logo';
      grid-template-columns: 2fr 1fr;
      justify-items: center;
      align-items: center;
      height: 100%;

      span {
        grid-area: name;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0 10px;

        @media screen and (max-width: 1500px) {
          margin: 0 10px;
        }

        @media screen and (max-width: 1280px) {
          margin: 0 10px;
          font-size: 16px;
        }

      }

      .logo {
        grid-area: logo;
        background-color: rgb(241, 240, 241);
        border-radius: 50%;
        width: 60px;


        @media screen and (max-width: 1px) {
          width: 60px;
          margin: 0 auto;
        }


        @media screen and (max-width: 350px) {
          width: 50px;
          margin: 0 auto;
        }


        @media screen and (max-width: 800px) {
          width: 40px;
          margin: 0 auto;
        }

        @media screen and (max-width: 1280px) {
          width: 40px;
          margin: 0 auto;
        }

        @media screen and (max-width: 1600px) {
          width: 50px;
          margin: 0 auto;
        }

      }


      &:hover {
        //box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);

        &:hover {
          box-shadow: none;
        }
      }


    }
    @media screen and (max-width: 1280px) {
      height: 70px;
    }

  }

  .coinCard_main {
    @include mediaWidth;
    grid-area: m;


    @media screen and (max-width: 1200px) {
      text-align: center;
      display: block;
    }

    @media screen and (max-width: 1280px) {
      font-size: 12px;
    }

    @media screen and (max-width: 1350px) {
      font-size: 14px;
    }
    div {
      margin: 10px;
      color: #4b4b4b;
      //margin-top: 6px;
      font-weight: 400;

      .text {
        font-size: 16px;
        color: #479790;
        font-weight: bold;

        @media screen and (max-width: 1200px) {
          text-align: center;
          display: block;
        }

        @media screen and (max-width: 1280px) {
          font-size: 12px;
        }

        @media screen and (max-width: 1350px) {
          font-size: 14px;
        }


      }
    }


  }

  .coinCard_footer {
    @include mediaWidth;
    border-radius: 0 0 10px 10px;
    grid-area: f;
    //margin-top: 10px;
    border-top: 0.2px solid rgba(0, 0, 0, 0.51);
    a {
      text-decoration: none;
    }

    .start_btn {
      background-color: #27847B;
      margin: 20px auto;
      width: 175px;
      //height: 25px;
      text-align: center;
      color: white;
      padding: 10px;
      border-radius: 8px;
      text-transform: uppercase;
      text-decoration: none;


      &:hover {
        transition: 0.2s ease-in-out;
        background-color: #25786f;
        cursor: pointer;
        color: #f7a81a;

      }
      @media (max-width: 1280px) {
        font-size: 13px;
        margin: 10px auto;
        width: 110px;
        height: 20px;
      }
      @media (max-width: 1550px) {
        font-size: 13px;
        margin: 10px auto;
        width: 130px;
        height: 20px;
      }

    }

  }

  @media screen and (min-width: 0px) {
    opacity: 0;
  }

  @media screen and (min-width: 250px) {
    width: 90%;
    opacity: 1;
    display: grid;
  }

  @media screen and (min-width: 450px) {
    width: 80%;
    opacity: 1;
    display: grid;
  }

  @media screen and (min-width: 600px) {
    width: 50%;
    opacity: 1;
    display: grid;
  }

  @media screen and (min-width: 700px) {
    width: 40%;
    opacity: 1;
    display: grid;
  }

  @media screen and (min-width: 820px) {
    width: 25%;
    opacity: 1;
    display: grid;
  }
  @media screen and (min-width: 1000px) {
    width: 20%;
    opacity: 1;
    display: grid;
  }

  @media screen and (min-width: 1280px) {
    width: 15%;
    opacity: 1;
    display: grid;
  }



}






