
.fetcher {
  grid-area: c;
  display: flex;
  justify-content: center;

  img{
    width: 450px;
    height: 250px;
  }


  @media screen and (max-width: 600px){
      //position: initial;
    position: relative;
    display: flex;
    justify-content: center;
    //margin: 50px auto;
    width: 90%;

  }

}

