.coin {
  grid-area: c;
  color: black;
  background-color: #554d4d;
  overflow: auto;
  user-select: none;
  height: 100vh;
  padding: 110px 70px 55px 70px; }
  .coin .coinData {
    display: grid;
    grid-template-areas: "graph" "stats";
    grid-template-rows: 0.7fr 0.5fr; }
    .coin .coinData .graph {
      grid-area: graph;
      color: #ffffff;
      background-color: #554d4d;
      margin: 0 10px; }
    .coin .coinData .stats {
      text-align: center;
      font-weight: bold;
      font-size: 17px;
      width: 70%;
      margin: 20px auto;
      grid-area: stats;
      background-color: #554d4d; }
      .coin .coinData .stats .stats__grid {
        margin: 0 20px;
        display: grid;
        grid-template-areas: 'm h l' 'he fe ty' 'c min cha';
        grid-template-columns: 1fr 1fr 1fr;
        white-space: nowrap;
        grid-gap: 10px 20px;
        text-align: center; }
        .coin .coinData .stats .stats__grid .miners {
          grid-area: m;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
        .coin .coinData .stats .stats__grid .hashrate {
          grid-area: h;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
        .coin .coinData .stats .stats__grid .lastBlockFound {
          grid-area: l;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
        .coin .coinData .stats .stats__grid .height {
          grid-area: he;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
        .coin .coinData .stats .stats__grid .fee {
          grid-area: fe;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
        .coin .coinData .stats .stats__grid .type {
          grid-area: ty;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
        .coin .coinData .stats .stats__grid .currentEffort {
          grid-area: c;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
        .coin .coinData .stats .stats__grid .minPayment {
          grid-area: min;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
        .coin .coinData .stats .stats__grid .charts {
          grid-area: cha;
          background-size: 390px 200px;
          border: 0.1px solid #e3bd37;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 70px;
          color: #e7e7e7;
          font-weight: 600;
          box-shadow: 0 0 10px #0e0e0e; }
  .coin .totalHashrate {
    width: 70%;
    margin: 0 auto; }
    .coin .totalHashrate .totalHashrate_span {
      font-weight: 600;
      font-size: 18px; }
      .coin .totalHashrate .totalHashrate_span .totalHashrate_span_span {
        color: #f32222;
        font-size: 20px; }
    .coin .totalHashrate .coin_column_grid {
      display: grid;
      font-size: 13px;
      grid-template-areas: 'w h s ss';
      font-weight: bold;
      grid-template-columns: 6fr 2fr 2.3fr 1fr;
      -moz-user-select: text;
      margin-top: 10px;
      background-color: grey;
      color: white;
      padding: 13px 0; }
      .coin .totalHashrate .coin_column_grid .wallet {
        grid-area: w;
        padding-left: 10px; }
      .coin .totalHashrate .coin_column_grid .hashrate {
        grid-area: h;
        padding-left: 10px; }
      .coin .totalHashrate .coin_column_grid .shares {
        grid-area: s;
        padding-left: 10px; }
      .coin .totalHashrate .coin_column_grid .status {
        grid-area: ss;
        padding-left: 10px; }

/*# sourceMappingURL=CoinPage.module.css.map */
