@mixin coinMargin {
  padding: 110px 30px 55px 30px;
}

.coin{
  grid-area: c;
  color: black;
  background-color: white;
  //overflow: auto;
  user-select: none;
  height: 100vh;
  @include coinMargin;

  //.content_center{
  //  display: flex;
  //  flex-wrap: wrap;
  //  justify-content: center;
  //  gap: 30px;
  //  @include contentMargin;
  //}


}