
* {
  margin: 0;
  padding: 0;
}

@mixin addGridElem {
  padding: 15px;
  background-color: rgba(127, 127, 127, 0.19);
  &:nth-child(9) {
    opacity: 0;

  }

  border-bottom: 3px solid #e4be36;
  &:hover {
    border-bottom: 3px solid #ffbf00;

  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
  color: rgb(231, 231, 231);
  font-weight: 400;
  font-size: 16px;

  @media screen and (max-width: 5100px) {
    font-size: 24px;
  }

  @media screen and (max-width: 1920px) {
    font-size: 18px;
  }

  @media screen and (max-width: 752px) {
    font-size: 14px;
  }

  @media screen and (max-width: 600px) {
      padding: 3px 0;
  }


}


@mixin allData {
  color: black;
  background-size: 1000px 1000px;
  overflow: auto;
  user-select: none;
  height: 91vh;
  padding-top: 50px;




  .coinData {
    display: grid;
    grid-template-areas: 'graph''input''stats' 'showMinersBtn';

    .graph {
      grid-area: graph;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-self: center;
      justify-items: center;




      @media screen and (max-width: 600px) {
        display: none;
      }


      .chartsGraph {
        width: 100%;
        margin: 10px 0 10px 0;
        border-radius: 15px;

      }

    }

    .inputForm {
      grid-area: input;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding-right: 5px;
      width: 70%;

      @media screen and (min-width: 2000px) {
        justify-content: center;
        width: 90%;
        //padding: 20px 1px 0 1px;
      }

      @media screen and (max-width: 600px) {
        width: 90%;
        padding: 20px 1px 0 1px;
      }

      img {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
        border-radius: 50%;
        height: 40px;


        @media screen and (min-width: 2000px) {
          height: 70px;
        }

        @media screen and (max-width: 600px) {
          height: 30px;
        }

      }

      a {
        text-decoration: none;

      }

      input {
        display: flex;
        align-items: center;
        margin: 0 8px 0 10px;
        width: 92%;
        min-height: 20%;
        padding: 8px 10px;
        font-size: 20px;
        //outline:none;
        border: .1px solid white;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
        background-color: rgba(29, 29, 29, 0.19);
        backdrop-filter: blur(15px);
        color: white;

        @media screen and (min-width: 2000px) {
          height: 40px;
          font-size: 26px;
        }


        @media screen and (max-width: 600px) {
          padding: 3px 5px;
        }

        &:focus {
          border: .1px solid #e5be36;
          outline: .1px solid #e5be36;
        }

        &::placeholder {
          color: #6f6f6f;

          @media screen and (min-width: 2000px) {
            font-size: 26px;
          }


          @media screen and (max-width: 600px) {
            font-size: 13px;
            text-align: center;
          }

        }

      }

      .inputBtn {
        //padding: 12px;
        display: flex;
        height: 40px;
        //width: calc(100% - 20px);
        background-color: rgba(29, 29, 29, 0.19);
        backdrop-filter: blur(15px);
        border: .1px solid white;
        border-radius: 5px;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);



        @media screen and (min-width: 2000px) {
          height: 55px;
          width: 55px;
        }

        @media screen and (max-width: 600px) {
          height: 30px;
          width: 30px;
        }


        i {
          font-size: 22px;
          text-align: center;
          margin: 0 auto;
          width: 40px;
          color: #ffffff;

          @media screen and (min-width: 2000px) {
            font-size: 26px;
          }

          @media screen and (max-width: 600px) {
            font-size: 13px;
          }

        }

        &:hover {
          background-color: #ffffff;

          i {

            color: #000000;

          }


        }


      }
    }

    .dropContainer {
      //text-align: center;
      font-weight: bold;
      font-size: 17px;
      width: 70%;
      margin: 10px auto;
      //margin-bottom: 10px;
      grid-area: stats;

      @media screen and (min-width: 2000px) {
        font-size: 28px;
        width: 90%;
        justify-content: center;
      }

      @media screen and (max-width: 600px) {
        width: 90%;
      }

      .flexWrapper {

        .buttonsWrapper {
          display: inline-block;
          height: 60px;
          @media screen and (max-width: 600px) {
            width: 100%;
            height: 140px;
            z-index: 10000;

          }
          .buttons {
            display: flex;
            height: 100%;

            @media screen and (max-width: 600px) {
              flex-direction: column;
              overflow: scroll;
            }

            &:nth-child(1) {
              border-right: 1px solid white;
              border-left: 1px solid white;
            }

            div {
              cursor: pointer;
              @media screen and (max-width: 600px) {
                justify-content: center;
                padding: 3px 0;
              }
            }
          }

        }

        .dropDown {
          width: 99.5%;
          background-color: rgba(29, 29, 29, 0.19);
          backdrop-filter: blur(15px);
          border-right: 1px solid #ffffff;
          border-left: 1px solid #ffffff;
          box-shadow: 0 0 0 rgba(0, 0, 0, .3),
          -28px 0 25px -23px rgba(0, 0, 0, .8),
          28px 0 35px -23px rgba(0, 0, 0, .8),
          0 0 0 rgba(0, 0, 0, 0.1) inset;

          .stats {
            @media screen and (min-width: 600px) {
              display: grid;
              grid-template-areas: 'm h l' 'he fe ty' 'c min cha';
              //grid-template-rows: 1fr 1fr 1fr;
              grid-template-columns: 1fr 1fr 1fr;
              padding: 10px;
              grid-gap: 15px 30px;
              text-align: center;
            }

            @media screen and (max-width: 600px) {
              padding: 10px 2px 0 2px;
            }


            .miners {
              grid-area: m;
              @include addGridElem;

            }

            .hashrate {
              grid-area: h;
              @include addGridElem;
            }

            .lastBlockFound {
              grid-area: l;
              @include addGridElem;
            }

            .height {
              grid-area: he;
              @include addGridElem;
            }

            .fee {
              grid-area: fe;
              @include addGridElem;
            }

            .type {
              grid-area: ty;
              @include addGridElem;
            }


            .currentEffort {
              grid-area: c;
              @include addGridElem;
            }

            .minPayment {
              grid-area: min;
              @include addGridElem;
            }

            .charts {
              grid-area: cha;
              //opacity: 0;
              @include addGridElem;

              @media screen and (max-width: 600px) {
                display: none;
              }

            }

          }

          .totalHashrate {
            padding: 10px 10px 0 10px;
            font-weight: 400;

            .totalHashrate_span {
              font-weight: 600;
              font-size: 18px;

              .totalHashrate_span_span {
                color: #f32222;
                font-size: 20px;
              }
            }

            .coin_column_grid {
              display: flex;
              align-items: center;
              justify-content: space-around;
              font-size: 20px;
              font-weight: 400;
              -moz-user-select: text;
              background-color: grey;
              color: white;
              height: 40px;

              div {
                text-align: center;
                width: 150px;
                white-space: nowrap;
              }
            }

            .minersWrapper {

            }

          }

          .blocks {
            padding: 9px 10px 0 10px;
            font-weight: 400;


            //.effort__grid {
            //  display: flex;
            //  //padding: 10px;
            //  gap: 0 30px;
            //  text-align: center;
            //
            //  .effort {
            //    @include addGridElem;
            //  }
            //}

            .blocks_column_grid {
              display: flex;
              align-items: center;
              justify-content: space-around;
              margin-top: 2px;
              font-size: 20px;
              -moz-user-select: text;
              background-color: grey;
              color: white;
              height: 40px;
              position: relative;

              div {
                //text-align: center;
                //width: 150px;
              }

              .height{
                position: absolute;
                left: 5%;
              }
              .summ{
                position: absolute;
                left: 25%;
              }
              .effort{
                position: absolute;
                width: 55px;
                white-space: nowrap;
              }
              .hash{
                position: absolute;
                right: calc(25% + 10px);
              }
              .timestamp{
                width: 100%;
                text-align: end;
                padding-right: calc(5% + 25px);
              }


            }

            .blocksWrapper {
              position: relative;

              .liveViewer {
                position: absolute;
                bottom: 25px;
                right: 0;
              }
            }
          }

          .how {
            color: white;
            font-weight: 300;
            //padding: 9px 10px 0 10px;
            pointer-events: all;
            -webkit-touch-callout: default;
            -webkit-user-select: text;
            -moz-user-select: none;
            -ms-user-select: text;
            user-select: text;
            padding: 1px 10px 8px 10px;


            div {

              &::selection {
                background: #fff;
              }

              p {
                &::selection {
                  background: #fff;
                }

                span {
                  &::selection {
                    background: #fff;
                  }
                }
              }

              h3 {
                margin-top: 10px;
                margin-bottom: 10px;

                &::selection {
                  background: #ffffff;
                }
              }

              h4 {
                margin-top: 10px;

                &::selection {
                  background: #fff;
                }
              }

              .RaveImages {
                h3 {
                  margin-top: 30px;
                }

                text-align: center;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}

.coin {
  grid-area: c;
  @include allData;
  background: url(./../../img/octopus1.png) no-repeat 50% 0;
  background-size: 1500px;
  z-index: 1;
}

.coin2 {
  grid-area: c;
  @include allData;
  background: url(./../../img/octopus2.png) no-repeat 50% 0;
  background-size: 1500px;
  z-index: 1;


}

.coin3 {
  grid-area: c;
  @include allData;
  background: url(./../../img/octopus3.png) no-repeat 50% 30%;
  background-size: 1500px;
  z-index: 1;
}