@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@mixin fonts {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


.e4pizor {
  position: relative;
  grid-area: c;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  pointer-events: none;
  background-image: url("../../img/фон.jpg");
  background-size: 100%;

  .header__description {

    position: absolute;
    text-align: left;
    color: white;
    top: 110px;
    left: 6%;

    h2 {
      @include fonts;
      font-size: 55px;
    }

    span {
      @include fonts;
      font-size: 25px;
    }
  }

  .content {
    display: flex;
    padding-top: 13%;
    justify-content: space-evenly;

    .imageSelection {
      padding-top: 10px;
      display: inline-block;
      user-select: none;

      .e4pizor__device {
        .device__img {
          width: 300px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.67);
        }

        padding-bottom: 20px;
      }

      .colorButtons {
        display: flex;
        justify-content: center;
        border: none;
      }
    }

    .player {
      border: 4px solid rgba(255, 255, 255, 0.13);
      padding: 1px;
      align-items: center;
      justify-content: center;
      //user-select: all;
      pointer-events: auto;
      position: relative;

      .btn{
        position: absolute;
        margin-top: 60px;
        width: 100%;
        text-align: center;

        a{
          text-decoration: none;
        }
        //span{
        //  font-family: 'Roboto Flex', sans-serif;
        //  font-weight: 400;
        //  font-size: 20px;
        //  background-color: #fff;
        //  color: black;
        //  padding: 5px;
        //  border-radius: 5px;
        //  &:hover{
        //    background-color: rgba(255, 255, 255, 0.8);
        //  }

        //}
      }


    }

    .description {
      user-select: none;
      color: white;
      text-align: justify;
      width: 450px;
      .dec{
        padding-right: 5px;
        color: red;
        font-size: 40px;
        font-weight: bold;
      }
      h2 {
        @include fonts;
        font-size: 30px;
      }
      p {
        @include fonts;
        margin-top: 10px;
      }

    }

  }
}