*{
  margin: 0;
  padding: 0;
}


.content{
  grid-area: c;
  color: black;
  background-color: #554d4d;
  //overflow: auto;
  user-select: none;
  height: 100vh;


  .coin{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: url(../../img/octopus1.png) no-repeat 50% 0;
    overflow-y: scroll;
    background-size: 1400px;
    z-index: 1;
  }

  .coin2{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    background: url(../../img/octopus2.png) no-repeat 50% 0;
    background-size: 1200px;
    z-index: 1;
  }
  .coin3{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    background: url(../../img/octopus3.png) no-repeat 50% 30%;
    background-size: 1200px;
    z-index: 1;
  }


}