a{
  color: white;
  text-decoration: none;
  pointer-events: auto;
  &:hover{
    text-decoration: underline;

  }
}

//DEFAULT
.inner__data__grid{
  display: grid;
  grid-template-areas: 'el1 el2 el3';
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  background-color: #6e6767;
  color: #ffffff;
  margin: 2px auto;
  font-size: 15px;
  pointer-events: none;


  div{
    padding: 5px;
  }

  .inner__elem1{
    grid-area: el1;
    margin: 0 auto;
  }

  .inner__elem2{
    grid-area: el2;
    margin: 0 auto;
  }

  .inner__elem3{
    grid-area: el3;
    margin: 0 auto;
  }
}

//PAYMENTS
.inner__data__grid__payments{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6e6767;
  color: #ffffff;
  width: 100%;
  margin-top: 2px;
  font-size: 15px;

  div{
    padding: 5px 0;
    width: 150px;
    text-align: center;
  }
}

//WORKERS
.inner__data__grid__workers{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6e6767;
  color: #ffffff;
  width: 100%;
  margin-top: 2px;
  font-size: 15px;

  div{
    white-space: nowrap;
    padding: 5px 0;
    width: 150px;
    text-align: center;
  }
}


//REWARDS
.inner__data__grid__rewards{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6e6767;
  color: #ffffff;
  margin-top: 2px;
  font-size: 15px;

  div{
    padding: 5px 0;
    text-align: center;
    width: 150px;
  }
}

.inner__data__grid__blocks{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6e6767;
  position: relative;
  color: #ffffff;
  margin-top: 2px;
  font-size: 15px;

  div{
    //text-align: center;
    padding: 5.5px 0 5.5px 0;
  }


  .inner__elem1{
    position: absolute;
    left: 5%;
  }

  .inner__elem2{
    position: absolute;
    left: 25%;
  }

  .inner__elem3{
    position: absolute;
    width: 55px;
    white-space: nowrap;
  }
  .inner__elem4{
    position: absolute;
    right: 25%;
  }
  .inner__elem5{
    width: 100%;
    text-align: end;
    padding-right: 5%;
    //flex-grow: 2;
    //width: 500px;
  }

}