

.header {
  grid-area: h;
  background-color: #727270;
  color: #d7d7d7;
  position: fixed;
  width: 100%;
  user-select: none;


  .logo {
    height: 70px;
    margin: 10px 20px;
    float: left;

    @media (max-width: 1170px){
      margin: 20px 10px;
      height: 50px;
    }

  }

  span {
    color: white;
    float: left;
    font-size: 26px;
    margin: 27px auto;
    cursor: default;

    @media (max-width: 1170px){
      font-size: 18px;
      margin: 30px 10px;
    }


  }

  .headerLinks {
    float: right;
    margin: 30px 32px 0 65px;

    .navLinkH {
      color: #ffffff;
    }

    .navLinkB {
      color: #ffffff;
    }

    .navLinkF {
      color: #ffffff;
    }

    .navLinkC {
      color: #ffffff;
    }

    .navLinkS {
      color: #ffffff;
    }

    a {
      margin-left: 50px;
      color: #c9c9c9;
      text-decoration: none;
      font-size: 22px;

      @media (max-width: 1350px){
        margin-left: 15px;
      }
      @media (max-width: 1170px){
        font-size: 18px;
        margin-left: 15px;
      }

      &:hover {
        color: #dedede;
      }
    }

  }


}