.header {
  grid-area: h;
  background-color: #727270;
  color: #d7d7d7;
  position: fixed;
  width: 100%;
  user-select: none;
  display: grid;
  grid-template-areas: 'l s n';
  grid-template-columns: .01fr 1fr auto;
  align-items: center;
  z-index: 300;

  a {
    text-decoration: none;
  }

  .logo__wrapper{
    grid-area: l;
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
    z-index: 300;
  }

  .logo {
    height: 60px;
    margin: 3px 10px 3px 10px;

  }

  span {
    grid-area: s;
    color: white;
    font-size: 26px;
    cursor: pointer;
    text-transform: uppercase;

    @media (min-width: 560px) {
      font-size: 12px;
    }

    @media (min-width: 650px) {
      font-size: 15px;
    }

    @media (min-width: 820px) {
      font-size: 20px;
    }

    @media (min-width: 1000px) {
      font-size: 25px;
    }


  }

  .headerLinks {
    grid-area: n;

    .active {
      color: #f7a81a;

      &:hover {
        color: #f7a81a;
        transition: 0.2s ease-in-out;
      }
    }

    i {
      margin-left: 5px;
    }

    a {
      //margin-left: 50px;
      color: #c9c9c9;
      text-decoration: none;
      font-size: 22px;

      @media (min-width: 1px) {
        z-index: 100;
        display: none;
      }

      @media (min-width: 560px) {
        display: inline-block;
        font-size: 12px;
        margin: 0 3px;
      }

      @media (min-width: 650px) {
        display: inline-block;
        font-size: 15px;
        margin: 0 5px;
      }

      @media (min-width: 820px) {
        display: inline-block;
        font-size: 20px;
        margin: 0 10px;
      }

      @media (min-width: 1000px) {
        display: inline-block;
        z-index: 100;
        font-size: 22px;
        margin: 0 20px;
      }


      &:hover {
        color: #ffffff;
        transition: 0.2s ease-in-out;
      }
    }


  }


  $right: 25px;

  .burger_show{
    position: absolute;
    top: 27px;
    right: $right;
    height: 30px;
    width: 30px;


    &:hover{
      cursor: pointer;
    }

    nav{
      height: 30px;
      position: relative;

      .burger:before {
        content: '';
        position: absolute;
        background-color: black;
        top: 0;
        width: 30px;
        height: 5px;

      }

      .burger span {
        position: absolute;
        background-color: black;
        top: 12.5px;
        width: 30px;
        height: 5px;
      }

      .burger:after {
        content: '';
        position: absolute;
        background-color: black;
        bottom: 0;
        width: 30px;
        height: 5px;

      }


    }

    @media (max-width: 560px) {
      display: inline-block;
    }

    @media (min-width: 560px) {
      display: none;
    }

  }





}