
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 20px;

  i {
    padding-top: 4px;
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;

    &:active{
      color: #e3bd37;
    }

  }

  a {
    cursor: pointer;
    text-decoration: none;
  }



  .pageItem{
    background-color: rgba(255, 255, 255, 0);

  }
}

.pageLink{
  margin: 0 10px;
  font-size: 18px;
  &:hover{
    color: #b1b1b1;
  }
}

.active{
  //background-color: #fff;
  a {
    cursor: pointer;
    text-decoration: none;
    color: #e3bd37;
  }

}

.reward{
  position: relative;

  .mev{
    position: absolute;
    display: flex;
    align-items: center;
    //height: 100%;
    white-space: nowrap;
    margin-left: 10px;
    font-size: 10px;
    background-color: #4a935c;
    border: .1px solid #4a935c;
    border-radius: 5px;
    padding: 0 3px;
    left: 70px;
    top: 1px;
  }
}

.orphan{
  color: #ff8989;
}

.easy{
  background-color: #4a935c;
  border: .1px solid #4a935c;
  border-radius: 7px;
  padding: 0 3px;
}
.hard{
  background-color: #c2ba82;
  border: .1px solid #c2ba82;
  border-radius: 7px;
  padding: 0 3px;
}
.insane{
  background-color: #ff8989;
  border: .1px solid #ff8989;
  border-radius: 7px;
  padding: 0 3px;
}