@mixin contentMargin {
  padding: 100px 40px 55px 40px;
}

.blocks {
  grid-area: c;
  color: black;
  background-color: white;
  //overflow: auto;
  user-select: none;
  height: 100vh;

  .blocks_center {
    @include contentMargin;
  }


}