.footer {
  grid-area: f;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #525252;
  position: fixed;
  top: calc(100vh - 25px);
  height: 15px;
  width: 100%;
  z-index: 98;
  padding: 5px;
  @media (pointer: coarse){
    opacity: 0;
  }

  a{
    margin-left: 10px;
    text-decoration: none;
    color: #c9c9c9;
  }:hover{
    color: #ffffff;
       text-decoration: none;
     }

  .fa-telegram-plane{
    color:#FFF;
    margin-top:5vw;
    font-size:15vw;
    margin-left:5vw;
  }
  .fa-github{
    color:#FFF;
    margin-top:5vw;
    font-size:15vw;
    margin-left:5vw;
  }

}