.footer {
  grid-area: f;
  background-color: #727270;
  color: white;
  width: 100%;

  a{
    float: left;
    text-decoration: none;
    color: #c9c9c9;
    margin: 10px 10px;
  }:hover{
    color: #dedede;
     }

  .fa-telegram-plane{
    color:#FFF;
    margin-top:5vw;
    font-size:15vw;
    margin-left:5vw;
  }
  .fa-github{
    color:#FFF;
    margin-top:5vw;
    font-size:15vw;
    margin-left:5vw;
  }

}