@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;

}

body{
    background-color: #544c4d;
    font-family: 'Montserrat', sans-serif;
}


.App {
    font-family: 'Montserrat', sans-serif;
    display: grid;

    grid-template-areas: 'h'
                        'c'
                        'f';
    height: 100vh;

    z-index: 900;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */

}::-webkit-scrollbar {
     display: none;
 }





[title] { pointer-events: none; }