body{
    background-color: #554d4d;

}


.App {
    display: grid;

    grid-template-areas: 'h'
                        'c'
                        'f';
    height: 100vh;

    z-index: 900;

}::-webkit-scrollbar {
     display: none;
 }



[title] { pointer-events: none; }