.grid_data {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "ms hs ss sts" "m h s st";
  grid-template-columns: 6fr 2fr 2.3fr 1fr;
  -moz-user-select: text;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px); }
  .grid_data:hover:first-child > div {
    background-color: rgba(29, 29, 29, 0.19);
    backdrop-filter: blur(10px);
    color: #ffffff; }
    .grid_data:hover:first-child > div div {
      color: white; }
  .grid_data .miner_s {
    grid-area: ms;
    margin: 4px 0;
    background-color: rgba(118, 111, 111, 0.82);
    backdrop-filter: blur(15px);
    padding: 10px;
    font-weight: bold; }
    .grid_data .miner_s .miner {
      grid-area: m;
      color: black;
      font-weight: 400; }
      .grid_data .miner_s .miner .longMiner {
        font-size: 8px; }
        .grid_data .miner_s .miner .longMiner:hover {
          user-select: all;
          cursor: pointer;
          text-decoration: underline; }
        .grid_data .miner_s .miner .longMiner::selection {
          background-color: black; }
      .grid_data .miner_s .miner .shortMiner {
        font-size: 15px; }
        .grid_data .miner_s .miner .shortMiner:hover {
          user-select: all;
          cursor: pointer;
          text-decoration: underline; }
        .grid_data .miner_s .miner .shortMiner::selection {
          background-color: black; }
  .grid_data .hashrate_s {
    grid-area: hs;
    margin: 4px 0;
    background-color: rgba(118, 111, 111, 0.82);
    backdrop-filter: blur(15px);
    padding: 10px;
    font-weight: bold; }
    .grid_data .hashrate_s .hashrate {
      grid-area: h;
      margin-top: 4px;
      color: black;
      font-weight: 400; }
  .grid_data .shares_s {
    grid-area: ss;
    margin: 4px 0;
    background-color: rgba(118, 111, 111, 0.82);
    backdrop-filter: blur(15px);
    padding: 10px;
    font-weight: bold;
    color: black; }
    .grid_data .shares_s .shares {
      grid-area: s;
      margin-top: 4px;
      color: black;
      font-weight: 400; }
  .grid_data .status_s {
    grid-area: sts;
    margin: 4px 0;
    background-color: rgba(118, 111, 111, 0.82);
    backdrop-filter: blur(15px);
    padding: 10px;
    font-weight: bold;
    color: black; }
    .grid_data .status_s .status_offline {
      grid-area: st;
      margin-top: 4px;
      color: black;
      font-weight: 400; }
      .grid_data .status_s .status_offline span {
        background-color: #cb2410;
        border: 0.2px solid rgba(118, 110, 110, 0.17);
        border-radius: 5px;
        padding: 2px;
        font-weight: 400;
        color: white; }
    .grid_data .status_s .status_online {
      grid-area: st;
      margin-top: 4px;
      color: black;
      font-weight: 400; }
      .grid_data .status_s .status_online span {
        background-color: #1ca00d;
        border: 0.2px solid rgba(118, 110, 110, 0.17);
        border-radius: 5px;
        padding: 2px;
        font-weight: 400;
        color: #ffffff; }

/*# sourceMappingURL=CoinPageData.module.css.map */
