@charset "UTF-8";
.grid_data {
  width: 100%;
  margin: 2px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -moz-user-select: text;
  font-size: 16px;
  background-color: rgba(118, 111, 111, 0.82);
  backdrop-filter: blur(15px);
  color: #f5f5f5;
  position: relative;
}
@media screen and (max-width: 600px) {
  .grid_data {
    flex-direction: column;
  }
}
.grid_data div {
  width: 150px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .grid_data div {
    font-size: 12px;
  }
}
.grid_data .miner_s {
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}
.grid_data .miner_s .miner {
  font-weight: 400;
  left: 10px;
}
.grid_data .miner_s .miner .longMiner {
  font-size: 15px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .grid_data .miner_s .miner .longMiner {
    font-size: 10px;
  }
}
.grid_data .miner_s .miner .longMiner .minerSpan:hover {
  text-decoration: underline;
}
.grid_data .miner_s .miner .longMiner:hover {
  cursor: pointer;
  text-decoration: underline;
}
.grid_data .miner_s .miner .longMiner i {
  margin-left: 5px;
}
.grid_data .miner_s .miner .longMiner i:active {
  color: #e3bd37;
}
.grid_data .miner_s .miner .longMiner .copy {
  opacity: 0;
  position: absolute;
  color: #e3bd37;
  font-weight: 600;
  font-size: 10px;
  text-decoration: none;
}
.grid_data .miner_s .miner .shortMiner {
  font-size: 15px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .grid_data .miner_s .miner .shortMiner {
    font-size: 10px;
  }
}
.grid_data .miner_s .miner .shortMiner .minerSpan:hover {
  text-decoration: underline;
}
.grid_data .miner_s .miner .shortMiner:hover {
  cursor: pointer;
}
.grid_data .miner_s .miner .shortMiner i {
  margin-left: 5px;
}
.grid_data .miner_s .miner .shortMiner i:active {
  color: #e3bd37;
}
.grid_data .miner_s .miner .shortMiner .copy {
  right: -35px;
  top: 3px;
  position: absolute;
  color: #e3bd37;
  font-weight: 600;
  font-size: 10px;
}
@media screen and (max-width: 600px) {
  .grid_data .miner_s .miner::before {
    content: "Кошелек: ";
    display: block;
  }
}
.grid_data .hashrate_s {
  grid-area: hs;
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}
.grid_data .hashrate_s .hashrate {
  grid-area: h;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .grid_data .hashrate_s .hashrate::before {
    content: "Хэшрейт: ";
    display: block;
  }
}
.grid_data .shares_s {
  grid-area: ss;
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}
.grid_data .shares_s .shares {
  white-space: nowrap;
  grid-area: s;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .grid_data .shares_s .shares::before {
    content: "Последняя шара: ";
    display: block;
  }
}
.grid_data .status_s {
  grid-area: sts;
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  font-size: 10px;
}
.grid_data .status_s .status_offline {
  grid-area: st;
  font-weight: 400;
}
.grid_data .status_s .status_offline span {
  background-color: #cb2410;
  border: 0.2px solid rgba(118, 110, 110, 0.17);
  border-radius: 5px;
  color: white;
}
.grid_data .status_s .status_online {
  grid-area: st;
}
.grid_data .status_s .status_online span {
  background-color: #1ca00d;
  border: 0.2px solid rgba(118, 110, 110, 0.17);
  border-radius: 5px;
  font-weight: 400;
  color: #ffffff;
}

/*# sourceMappingURL=CoinPageData.module.css.map */
