@mixin addMargin1 {
  //background-color: rgba(118, 111, 111, 0.82);
  //backdrop-filter: blur(15px);
}
@mixin addPadding {
  padding: 5px;
}

.grid_data {
  width: 100%;
  margin: 2px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  //display: grid;
  grid-template-areas: 'ms hs ss sts''m h s st';
  grid-template-columns: 6fr 2fr 2.3fr 1fr;
  -moz-user-select: text;
  font-size: 16px;
  background-color: rgba(118, 111, 111, 0.82);
  backdrop-filter: blur(15px);
  color: #f5f5f5;
  position: relative;

  div{
    width: 150px;
    text-align: center;
  }


  .miner_s {
    display: flex;
    align-items: center;
    @include addMargin1;
    @include addPadding;
    font-weight: bold;

    .miner {
      font-weight: 400;
      //display: flex;
      //position: absolute;
      left: 10px;

      .longMiner{
        font-size: 15px;
        //text-align: start;
        position: relative;
        .minerSpan{
          &:hover{
            text-decoration: underline;
          }
        }

        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }

        i{
          margin-left: 5px;
          &:active{
            color: #e3bd37;
          }
        }

        .copy{
          opacity: 0;
          position: absolute;
          color: #e3bd37;
          font-weight: 600;
          font-size: 10px;
          text-decoration: none;
        }
      }

      .shortMiner{
        font-size: 15px;
        position: relative;
        //text-align: start;
        .minerSpan{
          &:hover{
            text-decoration: underline;
          }
        }
        
        &:hover{
          cursor: pointer;
        }

        i{
          margin-left: 5px;
          &:active{
            color: #e3bd37;
          }
        }

        .copy{
          right: -35px;
          top: 3px;
          position: absolute;
          color: #e3bd37;
          font-weight: 600;
          font-size: 10px;

        }
      }
    }
  }

  .hashrate_s {
    grid-area: hs;
    display: flex;
    align-items: center;
    @include addMargin1;
    @include addPadding;
    font-weight: bold;

    .hashrate {
      grid-area: h;
      font-weight: 400;
    }
  }

  .shares_s {
    grid-area: ss;
    display: flex;
    align-items: center;
    @include addMargin1;
    @include addPadding;
    font-weight: bold;

    .shares {
      white-space: nowrap;
      grid-area: s;
      font-weight: 400;
    }
  }

  .status_s{
    grid-area: sts;
    display: flex;
    align-items: center;
    @include addMargin1;
    @include addPadding;
    font-weight: bold;
    font-size: 10px;
    
    .status_offline{
      grid-area: st;
      font-weight: 400;

      span{

        background-color: #cb2410;
        border: 0.2px solid rgba(118, 110, 110, 0.17);
        border-radius: 5px;
        //font-weight: 400;
        color: white;
        }
      }

    .status_online{
      grid-area: st;
      //font-weight: 400;

      span{
        background-color: #1ca00d;
        border: 0.2px solid rgba(118, 110, 110, 0.17);
        border-radius: 5px;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
}